
.debug.true header {
    min-height:100px;
}

.debug.true .container {
    margin:auto;
    border:1px dashed black;
    /* min-height:50px; */
}

.debug.true .container .topheader{
    border:1px solid white;
}

.debug.true .column25{
    border:1px solid white;
}
.debug.true .column50{
    border:1px solid white;
}

.debug.true .column60{
    border:1px solid black;
}
.debug.true .column40{
    border:1px solid black;
}
.debug.true .column30{
    border:1px solid red;
}
.debug.true .column70{
    border:1px solid pink;
    min-height:100px;
}
.debug.true .bottomheader {
    border:1px solid white;
}

.debug.true header .jumbo-container {
    border:1px solid white;
}

.debug.true main .container .caption.flex {
    border:1px solid black;
    min-height:100px;
}

.debug.true main .jumbo-container {
    border: 1px solid black;
}

.debug.true main .jumbo-container img {
    border:1px solid black;
    width:100%;
}