/* Reset */

*:not(ul):not(ol){
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

img {
    max-width:100%;
}

a {
    text-decoration: none;
    color:black;
}
/* General */
.container {
    max-width:1300px;
    padding:20px;
    margin:auto;
}

.flex{
    display:flex;
    flex-wrap:wrap;
}

.row-reverse-property {
    flex-direction:row-reverse;
}

.column25{
    width:25%;
}

.column30{
    width:30%;
}

.column40{
    width:40%;
}

.column50{
    width:50%;
}

.column60{
    width:60%;
}

.column70{
    width:70%;
}

.button {
    width:max-content;
    background-color:white;
    padding:10px 15px;
    color:black;
    font-size:14px;
    border-radius:40px;
}

.black{
    background-color:black;
    color:white;
}

.light-gray {
    background-color:#F6F6F6;
}

.blue {
    background-color: #7289DA;
    color:white;
}

.jumbo-container{
    width:60%;
    margin:auto;
}

.stars {
    background-image:url('../img/stars.svg');
    margin:auto;
    max-width:max-content;
    background-size:contain;
    background-repeat:no-repeat;
    padding:40px;
}
/* Header */

header {
    background-color:#255EE9;
}

header .topheader {
    padding:10px;
}

.topheader .column25{
    padding:5px;
    align-content: center;
    justify-content:flex-end;
}

.topheader .column50{
    text-align:center;
}

ul.flex {
    padding:0;
    justify-content: space-around;
    align-content:center;
    list-style-type: none;
}

ul.flex a {
    
    padding-left:10px;
    color:white;
}

header .bottomheader{
    margin:auto;
    min-height:400px;
    background-image: url('../img/jumbo.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}



header .jumbo-container {
    text-align:center;
    padding-top:50px;
}

.jumbo-container h1{
    font-size:45px;
    margin-bottom:30px;
}

.jumbo-container p {
    margin:10px 20px;
    line-height:30px;
}

.jumbo-container .button {
    display:inline-block;
    margin:auto;
    margin:1px 10px;
}

.button.black a {
    color:white;
}
/* -- */

/* Main */

main .container .caption.flex {
    color:black;
}

main .container .column40 {

    padding-top:40px;
}

main .container .column40 h1{
    font-size:35px;
}

main .container .column40 p {
    margin:15px 0px;
    line-height:25px;
}

main .container {
    margin-top:60px;
    opacity:1;
}

main .jumbo-container{
    margin-top:60px;
    color:black;
    text-align:center;
    width:100%;
}

main .jumbo-container h1{
    font-size:40px;
}

main .jumbo-container img {
    width:100%;
    margin-bottom:60px;
}

main .jumbo-container .button {
    margin-top:20px;
    margin-bottom:100px;
    padding:15px 20px;
    
}

main .jumbo-container .button a {
    color:white;
}

/* -- */
/* Footer */

footer {
    background-color:#23272A;
}

.topfooter {
    padding:70px 50px ; 
    padding-bottom:25px;
}
footer h3 {
    font-size:30px;
    margin-bottom:25px;
}

footer .column30 img {
    width:5%;
}

footer .column30 span {
    font-size:14px;
}

footer .social {
    margin-top:15px;
}

footer .column25 ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

footer .column25 li {
    padding:10px;
}

footer .column25 li a{
    color:white;
}

footer .column25 ul li:first-child a, footer h3 {
    color:#7289DA;
}