/* Reset */

*:not(ul):not(ol){
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}

/* General */

.flex-property{
    display:flex;
    flex-wrap:wrap;
}

.perc25{
    width:25%;
}

.perc30{
    width:30%;
}

.perc40{
    width:40%;
}

.perc50{
    width:50%;
}

.perc60{
    width:60%;
}

.perc70{
    width:70%;
}

.row-reverse-property {
    flex-direction:row-reverse;
}

/* Header */

